html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.main {
  border: 1px solid red;
  font-family: 'Lobster', cursive;
  display: flex;
  flex-direction: column;
}

.content {
  background-image: url(dri.jpg);
  padding: 0 1rem;
}

.content_logo {
  
}

.content_input {
  text-align: center;
}

.content_input-header {
  font-size: 2rem;
}

.content_input-para {
  font-size: 1.5rem;
}

.content_search {
  border: 1px solid red;
}

input[type="text"] {
  display: block;
  margin: 0 auto;
}

.buton {
  borer: 2px solid #0339A6;
  background-color: #008000;
  color: #f2f2f2;
  border-radius: 5px;
  display: block;
  padding: 2px 5px;
  cursor: pointer;
  font-family: 'Lobster', cursive;
  font-size: 1.2rem;
}

.button {
  display: block;
  margin: 0 auto;
  padding: 2px 5px;
  background-color: #008000;
  border: 2px solid #008000;
  color: #f2f2f2;
  cursor: pointer;
  font-family: 'Lobster', cursive;
}