html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}

.main {
  border: 1px solid red;
  font-family: cursive;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 0 1rem;
  background-color: aqua;
}

.content_logo {
  font-family: 'Sriracha', cursive;
}

.content_input {
  text-align: center;
  margin-bottom: 3rem;
}

.content_input-header {
  font-size: 2rem;
  margin-bottom: 5px;
}

.content_input-para {
  font-size: 1.5rem;
  margin-top: 5px;
}

.content_search {

}

input[type="text"] {
  display: block;
  margin: 1rem auto;
  padding: 5px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 5px;
}

input[type="text"]::placeholder {
  font-family: cursive;
}

input[type="text"]:placeholder-shown {
  border: 2px solid #008000;
}

.button {
  display: block;
  margin: 1rem auto;
  background-color: #008000;
  border: 2px solid #008000;
  border-radius: 5px;
  color: #f2f2f2;
  cursor: pointer;
  font-family: 'Lobster', cursive;
}

.features {
  border: 1px solid red;
  padding: 0 1rem;
  background-color: aqua;
}