html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}

.main {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;  
}

.content {
  padding: 0 1rem 2rem 1rem;
  background-color: lightpink;
}

.content_logo {
  font-family: 'Lobster Two', cursive;
}

.content_input {
  text-align: center;
  margin-bottom: 3rem;
}

.content_input-header {
  font-size: 2rem;
  margin-bottom: 5px;
}

.content_input-para {
  margin-top: 5px;
}

.content_search {
  
}

input[type="text"] {
  display: block;
  margin: 1rem auto;
  padding: 5px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 5px;
}

input[type="text"]::placeholder {
  font-family: 'Ubuntu', sans-serif;
}

input[type="text"]:placeholder-shown {
  border: 2px solid #008000;
}

.button {
  display: block;
  margin: 1rem auto;
  background-color: #008000;
  border: 2px solid #008000;
  border-radius: 5px;
  color: #f2f2f2;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
}

.features {
  padding: 2rem 1rem;
  background-color: aqua;
}

.features_card {
  background-color: #f2f2f2;
  padding: 2rem 1rem;
  margin: 1rem 0;
}

.features_card-title {
  font-size: 1.7rem;
}

.features_card-para {
  
}

.foot {
  padding: 0 1rem;
  text-align: center;
}

@media screen and (min-width: 500px) {
  .features {
    display: grid;
    gap: 1rem 2rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media screen and (min-width: 660px) {
  .features {
    display: grid;
    gap: 1rem 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}