html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #eaf6fc;
}

.main {
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  color: #011b33;
  font-size: 1.7rem;  
}

.content {
  padding: 0 1rem 2rem 1rem;
  background-color: #CEF0B7;
}

.content_logo {
  font-family: 'Lobster Two', cursive;
  padding: 1rem 0;
  margin-bottom: 3rem;
}

.content_logo-header {
  display: inline;
  margin-left: .3rem;
}

a {
  text-decoration: none;
  color: #011b33;
}

a:hover {
  cursor: pointer;
}

.content_input {
  text-align: center;
  margin-bottom: 3rem;
}

.content_input-header {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.content_input-para {
  margin-top: 5px;
}

input[type="text"] {
  display: block;
  margin: 1rem auto;
  padding: 10px 7px;
  width: 90%;
  border: none;
  border: 2px solid #080;
  background-color: #f2f2f2;
  border-radius: 5px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
}

.button {
  display: block;
  margin: 1rem auto;
  background-color: #080;
  border: 2px solid #080;
  border-radius: 5px;
  padding: 5px 7px;
  font-size: 1.5rem;
  color: #f2f2f2;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
}

.btn {
  width: 100%;
  padding: 10px;
  display: flex;
}

.btn-text {
  flex-basis: 75%;
}

.btn-icon {
  flex-basis: 20%;
}

.btn-share {
  background-color: #007fc2;
  border: 2px solid #007fc2;
}

.btn-convert {
  background-color: #e32;
  border: 2px solid #e32;
}

.features {
  padding: 2rem 1rem;
  background-color: #eaf6fc;
}

.features_card {
  background-color: #f1fef4;
  padding: 2rem 1rem;
  margin-top: 1rem;
}

.features_card-para {
  margin-top: 1rem;
}

.features_card-title {
  display: inline;
  margin-left: .3rem;
  font-size: 2rem;
}

.city_info {
  padding: 0 1rem;
  margin: 2rem 0 0 0;
}

.city_info p {
  padding: 5px;
}

.weather {
  padding: 0;
  list-style: none;
  border: 1px solid #080;
}

.weather-holder {
  border: 1px solid #080;
  display: flex;
  padding: 7px;
}

.icon {
  height: 18vh;
  text-align: center;
  margin-bottom: .5rem;
  background-color: skyblue;
}

.weather-description {
  color: #011b33;
}

.weather-icon {
  height: 75%;
  margin: 0 auto;
}

.weather-icon_img {
  height: 100%;
}

.card2 {
  padding: 0 1rem 2rem 1rem;
}

.weather-name {
  display: inline-block;
  color: red;
  margin-right: auto;
}

.weather-value {
  display: inline-block;
  text-align: right;
  color: blue;
}

.temp-unit {
  color: blue;
}

.map {
  margin: 1rem 1rem;
  height: 60vh;
}

.map_image {
  height: 100%;
  background-size: 100% 100%;
}

.data_holder {
  padding: 0 1rem 2rem 1rem;
  background-color: #eaf6fc;
}

.landmark {
  border: 1px solid red;
  margin: 2rem 1rem;
}

.landmark_images {
  border: 1px solid;
  padding: 2rem 1rem;
}

.foot {
  text-align: center;
  padding-bottom: 10px;
}

.error_info {
  margin: 2rem 1rem;
  height: 55vh;
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (min-width: 550px) {
  .main {
    width: 90%;
    margin: 0 auto;
    font-size: 2rem;
  }

  .features {
    display: grid;
    gap: 1rem 2rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .content {
    background-color: #eaf6fc;
  }

  .content_input-header {
    font-size: 3rem;
  }

  .features_card-title {
    font-size: 2.2rem;
  }

  input[type="text"] {
    width: 70%;
  }

  .map {
    height: 80vh;
  }
}

@media screen and (min-width: 660px) {
  .main_result {
    display: flex;
    height: 100%;
  }

  .city_info {
    display: flex;
  }

  .local {
    margin-left: 12.5%;
  }

  .data_holder {
    flex-basis: 40%;
    padding: 0;
    height: 80vh;
  }

  .map {
    flex-basis: 60%;
    height: calc(50vh + 22rem);
  }
}

@media screen and (min-width: 950px) {
  .main {
    width: 80%;
  }

  .features {
    display: grid;
    gap: 1rem 2rem;
    grid-template-columns: repeat(3, 1fr);
  }

  input[type="text"] {
    width: 50%;
  }

  .local {
    margin-left: 15%;
  }
}

@media screen and (min-width: 1024px) {
  .data_holder {
    flex-basis: 30%;
  }

  .map {
    flex-basis: 70%;
  }
}